/*Global*/
*{
    box-sizing: border-box;
}
/*Importa uma fonte customizada*/
@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}
/*Espaço de jogo*/
[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}
/*Posiciona o pássaro*/
.passaro{
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}
/*Define a área da barreira estilo flexivel*/
.par-de-barreiras{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Ajusta a barreira*/
.barreira{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Ajusta a borda da barreira e tamanho da barreira*/
.barreira .borda{
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid black;
}
/*Ajusta o corpo da barreira*/
.barreira .corpo{
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid black;
    border-right: 2px solid black;
}
/*Define a barra de progresso*/
.progresso{
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Pixel';
    font-size: 70px;
    z-index: 100;
}
[wm-clic]{
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Pixel';
    font-size: 40px;
    z-index: 100;
}
